body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-border {
  border: solid blue 3px;
}

.h1-border {
  border: solid green 3px;
}

.div-border2 {
  border: solid red 3px;
}

.nav-border{
  border: solid purple 3px;
}

.h3-border{
  border: solid brown 3px;
}